@using Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SonseArt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SonseArt.styles.css" asp-append-version="true" />
</head>
<body> <!--style="background-color:#F5F5DC"-->
    <header style="">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3"> <!--style="background-color:#DEDE8D"-->
            <div class="container" style="height:20">
                <a class="navbar-brand" asp-area="" asp-page="/Products/Index" style="text-decoration: none; color: inherit;">
                SonseArt  
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.IsInRole("Admin"))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <a class="nav-link" asp-page="/Orders/Index">Orders</a>
                        </ul>
                    }
                    <ul></ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted"><!-- style="background-color:#DEDE8D"-->
        <div class="container">
            &copy; 2024 - SonseArt - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>